<?xml version="1.0"?><Configuration><pipeline.name>pipeline1</pipeline.name><start>2018-01-01T01:00Z</start><end>2018-01-01T02:00Z</end><queue>default</queue><format>csv</format><compressionCodec>none</compressionCodec><falcon-cluster>merlin-ml-1</falcon-cluster><source-datasets><source-dataset name="source1" from="now(-1, 0)" to="now(0, -1)"><frequency>hourly</frequency></source-dataset><source-dataset name="source2" from="now(-1, 0)" to="now(0, -1)"><frequency>hourly</frequency></source-dataset></source-datasets><source-training-datasets><source-training-dataset name="training1" from="now(-1, 0)" to="now(0, -1)"><frequency>hourly</frequency></source-training-dataset></source-training-datasets></Configuration>